.contact-wrapper {
    position: relative;
    background: linear-gradient(to bottom, #000 15%, rgb(142, 40, 38));
    /* padding-top: 10px; */
}

.contact-wrapper .back {
    position: absolute;
    height: 100%;
    width: 100%;
    /* position: relative; */
    bottom: -4px;
}

.contact-wrapper .front {
    /* position: absolute; */
}

.contact-wrapper .back .ground {
    /* object-fit: cover; */
    /* position: relative; */
    overflow-y: hidden;
    overflow-x: hidden;
    /* perspective: 10px;
    transform-style: preserve-3d; */
    height: 100%;
}

.ground-wrap {
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
    /* perspective: 10px;
    transform-style: inherit; */
    /* perspective: 1px;
    transform-style: preserve-3d; */
    height: 100%;
}

.contact-wrapper .back .ground .contact-contents {
    position: absolute;
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: .5s ease-out;
    /* transform-style: preserve-3d; */
    /* z-index: -1; */
    /* padding-bottom: 1vh; */
}

.mars-sky-back,
.mars-sky-front {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* z-index: -1; */
}

.mars-sky-back {
    /* transform: translateZ(-10px) scale(2); */
    /* transform: translateZ(-0.25px) scale(1.25); */
}

.mars-sky-front {
    /* transform: translateZ(-5px) scale(1.5); */
    /* transform: translateZ(-0.5px) scale(1.4); */
}

.contact-wrapper .parallax-wrapper {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.contact-wrapper .parallax-wrapper .prlx-elm {
    position: absolute;
    /* right: 0; */
}

.contact-wrapper .parallax-wrapper .prlx-elm.satelite {
    /* width: 30%; */
    top: 0;
    transition: 1.2s ease-out;
}

.contact-wrapper .parallax-wrapper .prlx-elm.satelite img {
    /* width: 30%; */
    /* transform: translate(-50%,-50%); */
}

.contact-wrapper .parallax-wrapper .prlx-elm.planet-1 {
    /* width: 20%; */
    left: 0%;
    top: 0;
    transition: .8s ease-out;
}

.contact-wrapper .parallax-wrapper .prlx-elm.planet-1 img {
    /* width: 30%; */
    /* transform: translate(-50%,-50%) ; */
}

.contact-wrapper .parallax-wrapper .prlx-elm.planet-2 {
    /* width: 10%; */
    top: 0;
    right: 18%;
    transition: .5s ease-out;
}

.contact-wrapper .parallax-wrapper .prlx-elm.planet-3 {
    /* width: 15%; */
    top: 0;
    right: 3%;
    transition: .8s ease-out;
}

.contact-wrapper .parallax-wrapper .prlx-elm.planet-4 {
    /* width: 10%; */
    top: 0;
    /* left: 20%; */
    left: 45%;
    transition: .5s ease-out;
}

.contact-wrapper .parallax-wrapper .prlx-elm.planet-5 {
    /* width: 10%; */
    top: 0;
    /* left: 45%; */
    left: 20%;
    transition: .2s ease-out;
}

.contact-wrapper .parallax-wrapper .prlx-elm.rocket-group {
    width: 8%;
    left: 85%;
    /* bottom: 1%; */
    /* overflow-x: hidden; */
    transition: .2s ease-out;
}

.contact-wrapper .parallax-wrapper .prlx-elm.rocket-group .rocket {
    /* width: 20%; */

}

.contact-wrapper .parallax-wrapper .prlx-elm.rocket-group .rocket img {
    /* width: 30%; */
    /* transform: translate(-50%,-50%); */
}

.contact-wrapper .parallax-wrapper .prlx-elm.rocket-group .rocket-fire {
    width: 70%;
    transform: translate(24.5%, -17%);
    transition: .3s ease;
    position: relative;
}

/* .contact-wrapper .parallax-wrapper .prlx-elm.rocket-group .rocket-fire .rocket-fire-1 {
    position: absolute;
    top: 0;
} */

.contact-wrapper .parallax-wrapper .prlx-elm.rocket-group .rocket-fire img {
    /* width: 30%; */
    /* transform: translate(-50%,-50%) ; */
    animation: blinker-rocket-fire .1s cubic-bezier(.5, 0, 1, 1) infinite alternate;
}

@keyframes blinker-rocket-fire {
    to {
        opacity: 0.7;
        transform: scaleX(1.05)
    }
}

.contact-wrapper .parallax-wrapper .prlx-elm.rocket-group .rocket-smoke {
    width: 500%;
    transform: translate(-42.5%, -84%);
    transition: .7s ease-in;
    /* background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.65) 100%); */
}


.contact-wrapper .parallax-wrapper .prlx-elm.rocket-group .rocket-smoke img {
    /* width: 30%; */
    /* transform: translate(-50%,-50%) ; */
    /* mask-image: linear-gradient(to right, transparent 0%, rgb(255 255 255) 20%, rgb(255 255 255) 80%, transparent 100%); */
    /* -webkit-mask-image: linear-gradient(to right, transparent 0%, rgb(255 255 255) 20%, rgb(255 255 255) 80%, transparent 100%); */
    mask-image: radial-gradient(rgb(255 255 255) 55%, transparent 85%);
    -webkit-mask-image: radial-gradient(rgb(255 255 255) 55%, transparent 85%);
    animation: blinker-rocket-smoke 0.3s cubic-bezier(.5, 0, 1, 1) infinite alternate;
}

@keyframes blinker-rocket-smoke {
    to {
        opacity: 0.8;
        transform: scaleY(0.9) scaleX(1.01) translateY(1.1);
    }
}


.contact-wrapper .parallax-wrapper .prlx-elm.rover {
    width: 10%;
    bottom: 1%;
    transition: 2s ease-out;
    /* right: 25%; */
}

.contact-wrapper .parallax-wrapper .prlx-elm.rover img {
    transform: rotateY(180deg);
    -webkit-filter: drop-shadow(2px 12px 3px #ffffff96) drop-shadow(-6px 6px 8px #000000);
    filter: drop-shadow(2px -1px 3px #ffffff96) drop-shadow(-6px 6px 8px #000000);
}

/* .contact-wrapper .parallax-wrapper .prlx-elm.satelite {
    transform: translate(-50%,-50%) scale(.1);
} */

.contact-form-container {
    background: rgba(31, 41, 45, 0.75);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.623);
}

.contact-form-container input,
.contact-form-container textarea {
    caret-color: #707070;
}

/* /Pop-up/ */
.hide {
    visibility: hidden;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) scale(0.8) !important;
    -moz-transform: translateX(-50%) translateY(-50%) scale(0.8) !important;
    -o-transform: translateX(-50%) translateY(-50%) scale(0.8) !important;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.8) !important;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    width: 51px;
    height: 51px;
    font-size: 0;
    cursor: pointer;
}

.close:before,
.close:after {
    content: '';
    position: absolute;
    background: #767676;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    -o-border-radius: 1px;
    border-radius: 1px;
    left: 14px;
    right: 14px;
    top: 30px;
    height: 3px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    -webkit-transition: all 100ms ease-in;
    -o-transition: all 100ms ease-in;
}

.close:after {
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.close:hover:before {
    background: red;
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.close:hover:after {
    background: red;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: #FAFDFF;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 600px;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.09), 0px 11px 12px 7px rgba(0, 0, 0, 0.02);
    -moz-transition: all 120ms;
    -webkit-transition: all 120ms;
    -o-transition: all 120ms;
    transition: all 120ms;
    z-index: 99;
    padding: 25px;
    color: #5E5E5E;
}

@media screen and (max-width: 1000px) {
    .popup {
        width: 80%;
    }
}

.popup-header {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 500;
}

.popup-body {
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popup-circle {
    border: 4px solid rgb(212, 250, 200);
    background-color: #FFFFFF;
    height: 100px;
    border-radius: 50%;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    color: rgb(91, 243, 91);
}

.popup-footer .button {
    padding: 10px 15px;
    border: 1px solid #F5F5F5;
    text-transform: uppercase;
    box-shadow: 1px 2px 3px #F5F5F5;
    color: #fff;
    cursor: pointer;
    transition: all 120ms ease-in;
    outline: none;
    background-color: rgb(5, 145, 163);
}

.popup-footer .button:hover {
    box-shadow: 1px 3px 5px #E9E9E9;
    transform: translateY(-1px);
}

.popup-footer .button:active,
.popup-footer .button:visited {
    transform: translateY(1px);
    outline: none;
    box-shadow: 1px 2px 3px #F5F5F5;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: visible;
    opacity: 1;
    z-index: 1;
}

.overlay-hide {
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}