/* #root {
  margin: 0 auto;
  text-align: center;
} */

body {
  margin: 0 auto;
  text-align: center;
  font-family: "Changa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.changa-300 {
  font-family: "Changa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.changa-600 {
  font-family: "Changa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}