/* #root {
  margin: 0 auto;
  text-align: center;
} */

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: "Changa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
}

.changa-300 {
  font-family: "Changa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.changa-600 {
  font-family: "Changa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

#navbar-default-div {
  transition: 2s ease-in-out;
}

.nav-glass-texture {
  background: rgba(255, 255, 255, .8);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.7px);
  -webkit-backdrop-filter: blur(3.7px);
  border: 1px solid #c547ffd3;
  padding: 5px 0px;
}

.header-nav-item {
  /* border: 2px solid #94949400; */
  /* transition: transform .2s; */
  position: relative;
  /* padding: 1.3rem; */
  /* clip-path: border-box; */
}

.header-nav-item:hover {
  background: rgba(255, 255, 255, 0.226);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  /* border: 2px solid #ae00ff; */
}

.header-nav-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 16px;
  border: 1px solid transparent;
  /* background: conic-gradient(from var(--angle), rgba(238, 238, 241, 0.9) 58%, transparent 0); */
  background: conic-gradient(from var(--angle), rgba(0, 0, 0, 0) 90%, rgb(255, 255, 255)) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  /* transition: transform 2s; */
  animation: 5s border-rotation linear infinite;
}

@media only screen and (max-width : 767px) {
  .header-nav-item {
    /* border-bottom: 1px solid black; */
    margin-bottom: 12px;
  }

  .header-nav-item::before {
    border: none;
    border-bottom: 1px solid transparent;
    background: linear-gradient(rgba(0, 0, 0, 1) 90%, rgb(255, 255, 255));
    animation: none;
  }
}

.header-nav-item:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 16px;
  border: 1.5px solid transparent;
  background: conic-gradient(from var(--angle), rgb(248, 0, 248), rgb(0, 255, 242)) border-box;
  /* background: conic-gradient(red, orange, yellow, green, blue); */
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  transition: transform 2s;
  animation: 2s border-rotation ease-in infinite;
}

@property --angle {
  syntax: "<angle>";
  /* this can be angle or percentage */
  initial-value: 0deg;
  inherits: false;
}

@keyframes border-rotation {
  to {
    --angle: -360deg;
  }
}

.nav-txt {
  text-shadow:
    1px 1px 2px black,
    0 0 2em rgb(132, 0, 255),
    0 0 0.3em blue;
}

.liner-gradient-border {
  border-radius: 10px;
  transition: transform .2s;
  display: flow-root;
  position: relative;
  padding: 1.3rem;
}

.liner-gradient-border::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  border: 1px solid transparent;
  background: linear-gradient(45deg, rgb(248, 0, 248), rgb(0, 255, 242)) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  transition: transform 2s;
}

.conic-gradient-border {
  border-radius: 10px;
  transition: transform .2s;
  /* display: flow-root; */
  position: relative;
  padding: 1.3rem;
}

.conic-gradient-border::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  border: 1px solid transparent;
  background: conic-gradient(rgb(248, 0, 248), rgb(0, 255, 242)) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  transition: transform 2s;
}

.blue-scroll-cursor {
  cursor: url('/public/assets/cursors/scroll-64-blue-filled.png') 16 24, auto;
}

.black-scroll-cursor {
  cursor: url('/public/assets/cursors/scroll-64-black-filled.png') 16 24, auto;
}

/* HTML: <div class="loader"></div> */
/* .loader {
  height: 80px;
  aspect-ratio: 1;
  display: grid;
}

.loader:before,
.loader:after {
  content: "";
  --c: no-repeat linear-gradient(#fff 0 0);
  background: var(--c), var(--c);
  background-size: 25% 50%;
  animation: l4 1.5s infinite linear;
}

.loader:after {
  transform: scale(-1);
}

@keyframes l4 {

  0%,
  10% {
    background-position: 33.4% 100%, 66.6% 100%
  }

  40% {
    background-position: 33.4% 0, 100% 100%
  }

  70% {
    background-position: 0 100%, 66.6% 0
  }

  100% {
    background-position: 33.4% 100%, 66.6% 100%
  }
} */

.loader {
  width: fit-content;
  font-size: 17px;
  font-family: monospace;
  line-height: 1.4;
  font-weight: bold;
  color: #fff;
  background:
    linear-gradient(#7c7c7c 0 0) left,
    linear-gradient(#7c7c7c 0 0) right;
  background-repeat: no-repeat;
  border-right: 5px solid #0000;
  border-left: 5px solid #0000;
  background-origin: border-box;
  position: relative;
  animation: l9-0 2s infinite;
}

.loader::before {
  content: "Loading....";
}

.loader::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 22px;
  height: 60px;
  background:
    linear-gradient(90deg, #fff 4px, #0000 0 calc(100% - 4px), #fff 0) bottom /22px 20px,
    linear-gradient(90deg, red 4px, #0000 0 calc(100% - 4px), red 0) bottom 10px left 0/22px 6px,
    linear-gradient(#fff 0 0) bottom 3px left 0 /22px 8px,
    linear-gradient(#fff 0 0) bottom 0 left 50%/8px 16px;
  background-repeat: no-repeat;
  animation: l9-1 2s infinite;
}

@keyframes l9-0 {

  0%,
  25% {
    background-size: 50% 100%
  }

  25.1%,
  75% {
    background-size: 0 0, 50% 100%
  }

  75.1%,
  100% {
    background-size: 0 0, 0 0
  }
}

@keyframes l9-1 {
  25% {
    background-position: bottom, bottom 54px left 0, bottom 3px left 0, bottom 0 left 50%;
    left: 0
  }

  25.1% {
    background-position: bottom, bottom 10px left 0, bottom 3px left 0, bottom 0 left 50%;
    left: 0
  }

  50% {
    background-position: bottom, bottom 10px left 0, bottom 3px left 0, bottom 0 left 50%;
    left: calc(100% - 22px)
  }

  75% {
    background-position: bottom, bottom 54px left 0, bottom 3px left 0, bottom 0 left 50%;
    left: calc(100% - 22px)
  }

  75.1% {
    background-position: bottom, bottom 10px left 0, bottom 3px left 0, bottom 0 left 50%;
    left: calc(100% - 22px)
  }
}