.night-sky-bg {
    background: linear-gradient(to bottom, #000000 0%, #212f44 32%, #000033 100%);
    /* background: linear-gradient(to bottom, #000000 0%, #243f47 32%, #000033 100%); */
    position: relative;
    overflow: hidden;
}

.sky-star {
    position: absolute;
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='xMidYMid meet' viewBox='0 0 20 20' %3E%3Cpath d='M9.5 14.25l-5.584 2.936 1.066-6.218L.465 6.564l6.243-.907L9.5 0l2.792 5.657 6.243.907-4.517 4.404 1.066 6.218' fill='white' fillRule='nonzero' /%3E%3C/svg%3E"); */
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
}

@keyframes twinkle {
    0% {
        opacity: 0.2;
        transform: scale(.5, .3);
    }

    100% {
        opacity: 1;
        transform: scale(1, .8);
    }
}

.comet {
    position: absolute;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 1px 3px rgba(255, 255, 255, 0.1), 0 0 2px 6px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 1);
    /* animation: comet-animate 10s linear infinite; */
    animation-name: comet-animate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.comet::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 200px;
    height: 1px;
    background: linear-gradient(90deg, #fff, transparent);
}

@keyframes comet-animate {
    0% {
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }

    70% {
        opacity: 1;

    }

    100% {
        transform: rotate(315deg) translateX(-1500px);
        opacity: 0;

    }
}

.moon {
    position: absolute;
    right: 15%;
    top: 17%;
    width: 65px;
    height: 65px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 50px rgb(242, 254, 255), 0 0 150px rgb(255, 255, 255);
    animation: moon-animate 10s linear infinite;
}

.moon::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    border-radius: 50%;
    background-size: cover;
    background-image: url('./assets/bg/moon.png');
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    animation: moon-img-animate 70s linear infinite;
}

@keyframes moon-animate {
    0% {
        opacity: 1;
        box-shadow: 0 0 50px rgb(255, 241, 163), 0 0 150px rgb(255, 255, 255);
    }

    33% {
        opacity: 0.95;
        box-shadow: 0 0 60px rgb(162, 171, 255), 0 0 190px rgb(255, 255, 255);
    }

    33% {
        opacity: 0.95;
        box-shadow: 0 0 55px rgb(244, 252, 255), 0 0 170px rgb(255, 255, 255);
    }

    100% {
        opacity: 1;
        box-shadow: 0 0 50px rgb(255, 241, 163), 0 0 160px rgb(255, 255, 255);
    }
}

@keyframes moon-img-animate {
    0% {
        opacity: 1;
        box-shadow: 0 0 50px rgb(255, 249, 214), 0 90px 130px rgb(255, 255, 255);
        transform: rotate(-30deg);
    }

    50% {
        opacity: 0.95;
        box-shadow: 0 0 60px rgb(162, 171, 255), 0 100px 170px rgb(255, 255, 255);
        transform: rotate(30deg);
    }

    100% {
        opacity: 1;
        box-shadow: 0 0 50px rgb(255, 245, 186), 0 90px 130px rgb(255, 255, 255);
        transform: rotate(-30deg);
    }
}

.bg-x {
    position: absolute;
    overflow: hidden;
    /* background-image: url('https://cdn.pixabay.com/photo/2022/05/24/17/47/triangle-7219011_640.png'); */
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-size: contain;
    z-index: 10;
}

.bg-mm {
    bottom: -7%;
    left: -8%;
    background-image: url('assets/bg/bgm.png');
    /* background-size: 100%; */
    background-size: cover;
    /* background-size: 100vh; */
    background-position: center center;
    filter: drop-shadow(0px 20px 20px black);
}

.bg-mr {
    bottom: -7%;
    /* left: 25%; */
    background-image: url('assets/bg/bgmr.png');
    /* background-size: 85%; */
    background-size: cover;
    /* background-size: 100vh; */
    background-position: center center;
    filter: contrast(1.1) drop-shadow(-10px 10px 50px black);
}

.bg-ml {
    bottom: -7%;
    /* left: -30%; */
    background-image: url('assets/bg/bgml.png');
    /* background-size: 75%; */
    background-size: cover;
    /* background-size: 100vh; */
    background-position: center center;
    filter: brightness(.9) contrast(1.1) drop-shadow(-10px 30px 40px black);
}

.bg-4 {
    bottom: -15%;
    left: -40%;
    background-image: url('assets/bg/trees.png');
    background-size: 40%;
    filter: invert(22%) sepia(71%) saturate(470%) hue-rotate(124deg) brightness(95%) contrast(98%);
}

.bg-tb {
    /* bottom: -6%; */
    left: 0;
    background-image: url('assets/bg/bush1.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}

.bg-tb-back {
    bottom: -11%;
    filter: brightness(.9) contrast(.8) drop-shadow(10px 30px 40px black)
}

.bg-tb-front {
    bottom: -13%;
    filter: brightness(.9) contrast(1.2) drop-shadow(-10px 30px 40px black);
}

.bg-tf {
    bottom: -13%;
    left: 0;
    background-image: url('assets/bg/bush2.png');
    /* background-repeat: repeat-x; */
    background-repeat: no-repeat no-repeat;
    /* background-size: 30%; */
    background-position: center bottom;
    background-size: contain;
}


.parallax {
    /* background-image: url('./assets/parallax/BG1-Sky-3.1.png'); */
}

.fog-container {
    position: absolute;
    overflow: hidden;
    z-index: 20;
    top: 0%;
}

#foglayer_01 {
    width: 200%;
    height: 100%;
    position: absolute;
    animation: foglayer_01_opacity 20s linear infinite, foglayer_moveme 15s linear infinite;
    -webkit-animation: foglayer_01_opacity 20s linear infinite, foglayer_moveme 15s linear infinite;
}

#foglayer_01 .image01,
#foglayer_01 .image02 {
    background: url("assets/bg/fog1.png") repeat-x top left transparent;
    background-size: 100%;
    /* background-size: cover; */
    width: 50%;
    height: 100%;
    float: left;
}

#foglayer_02 {
    width: 200%;
    height: 100%;
    position: absolute;
    animation: foglayer_02_opacity 21s linear infinite,
        foglayer_moveme 33s linear infinite;
    -webkit-animation: foglayer_01_opacity 21s linear infinite,
        foglayer_moveme 33s linear infinite;
}

#foglayer_02 .image01,
#foglayer_02 .image02 {
    background: url("assets/bg/fog2.png") repeat-x top left transparent;
    background-size: 100%;
    /* background-size: cover; */
    width: 50%;
    height: 100%;
    float: left;
}

#foglayer_03 {
    width: 200%;
    height: 100%;
    position: absolute;
    animation: foglayer_02_opacity 51s linear infinite,
        foglayer_moveme 33s linear infinite;
    -webkit-animation: foglayer_01_opacity 51s linear infinite,
        foglayer_moveme 33s linear infinite;
}

#foglayer_03 .image01,
#foglayer_03 .image02 {
    background: url("assets/bg/fog2.png") repeat-x top left transparent;
    background-size: 100%;
    /* background-size: cover; */
    width: 50%;
    height: 100%;
    float: left;
}

@keyframes foglayer_01_opacity {
    0% {
        opacity: .1;
    }

    25% {
        opacity: .5;
    }

    50% {
        opacity: .28;
    }

    75% {
        opacity: .4;
    }

    100% {
        opacity: .1;
    }
}

@-webkit-keyframes foglayer_01_opacity {
    0% {
        opacity: .1;
    }

    22% {
        opacity: .5;
    }

    40% {
        opacity: .28;
    }

    58% {
        opacity: .4;
    }

    80% {
        opacity: .16;
    }

    100% {
        opacity: .1;
    }
}

@keyframes foglayer_02_opacity {
    0% {
        opacity: .5;
    }

    25% {
        opacity: .2;
    }

    50% {
        opacity: .1;
    }

    80% {
        opacity: .3;
    }

    100% {
        opacity: .5;
    }
}

@-webkit-keyframes foglayer_02_opacity {
    0% {
        opacity: .5;
    }

    25% {
        opacity: .2;
    }

    50% {
        opacity: .1;
    }

    80% {
        opacity: .3;
    }

    100% {
        opacity: .5;
    }
}

@keyframes foglayer_03_opacity {
    0% {
        opacity: .8;
    }

    27% {
        opacity: .2;
    }

    52% {
        opacity: .6;
    }

    68% {
        opacity: .3;
    }

    100% {
        opacity: .8;
    }
}

@-webkit-keyframes foglayer_03_opacity {
    0% {
        opacity: .8;
    }

    27% {
        opacity: .2;
    }

    52% {
        opacity: .6;
    }

    68% {
        opacity: .3;
    }

    100% {
        opacity: .8;
    }
}

@keyframes foglayer_moveme {
    0% {
        left: 0;
    }

    100% {
        left: -100%;
    }
}

@-webkit-keyframes foglayer_moveme {
    0% {
        left: 0;
    }

    100% {
        left: -100%;
    }
}