.outer-shadow {
    border-radius: 16px;
    border: 1px solid #e0e0e0;
    background: linear-gradient(315deg, #cacaca, #f0f0f0);
    box-shadow: -14px -14px 28px #cacaca, 14px 14px 28px #f6f6f6;
}

.outer-shadow:hover {
    border: 1px solid #dadada;
    background: linear-gradient(135deg, #cacaca, #f0f0f0);
    box-shadow: inset 3px 3px 5px #cacaca, inset -3px -3px 5px #f6f6f6;
}

.inner-shadow {
    border-radius: 24px;
    background: #e0e0e0;
    /* box-shadow: inset 11px 11px 22px #b3b3b3, inset -11px -11px 22px #ffffff; */
    /* box-shadow: inset 5px 5px 10px #848484, inset -5px -5px 10px #ffffff; */
    box-shadow: inset 1px 1px 4px #5a5a5a, inset -7px -7px 9px #ffffff;
    ;
}

.inner-shadow-lg {
    border-radius: 16px;
    background: #e0e0e0;
    box-shadow: inset -10px -10px 15px rgba(255, 255, 255, 0.55), inset 6px 3px 8px rgba(0, 0, 0, 0.16);
}

.inner-shadow-sm {
    border-radius: 8px;
    background: #e0e0e0;
    /* box-shadow: inset 11px 11px 22px #b3b3b3, inset -11px -11px 22px #ffffff; */
    box-shadow: inset 3px 3px 7px #848484, inset -3px -3px 5px #ffffff;
    /* box-shadow: inset 1px 1px 4px #5a5a5a, inset -7px -7px 9px #ffffff; */
    ;
}

.inner-shadow-sm:hover {
    box-shadow: 1px 1px 4px #5a5a5a, -7px -7px 9px #ffffff;
}

.text-outer-shadow {
    text-shadow: 1px 1px 5px white, -1px -1px 5px #444;
}

.nump-text-outer {
    font-weight: 600;
    color: #e0e0e0;
    letter-spacing: 5px;
    text-shadow: -3px -3px 4px rgba(255, 255, 255, 0.4), 3px 3px 4px rgba(0, 0, 0, 0.4);
}

.experience-details-item {
    /* cursor: pointer; */
    /* border-bottom: 1px solid #c5c5c5; */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.experience-details-item:hover {
    box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.55), 6px 3px 8px rgba(0, 0, 0, 0.26);
}

.experience-details-item:first-child:hover {
    border-radius: 16px 16px 0px 0px;
}

.experience-details-item:last-child:hover {
    border-radius: 0px 0px 16px 16px;
}

.experience-details-item .experience-details-landmark {
    fill: #10b981;
}

.experience-details-item:hover .experience-details-landmark {
    fill: #ee5656;
}