.outer-shadow {
    border-radius: 16px;
    background: linear-gradient(315deg, #cacaca, #f0f0f0);
    box-shadow: -14px -14px 28px #cacaca, 14px 14px 28px #f6f6f6;
}

.outer-shadow:hover {
    background: linear-gradient(255deg, #cacaca, #f0f0f0);
    box-shadow: -18px -18px 28px #dbdbdb, 18px 18px 28px #f6f6f6;
}

.inner-shadow {
    border-radius: 24px;
    background: #e0e0e0;
    /* box-shadow: inset 11px 11px 22px #b3b3b3, inset -11px -11px 22px #ffffff; */
    /* box-shadow: inset 5px 5px 10px #848484, inset -5px -5px 10px #ffffff; */
    box-shadow: inset 1px 1px 4px #5a5a5a, inset -7px -7px 9px #ffffff;
    ;
}

.inner-shadow-sm {
    border-radius: 8px;
    background: #e0e0e0;
    /* box-shadow: inset 11px 11px 22px #b3b3b3, inset -11px -11px 22px #ffffff; */
    box-shadow: inset 5px 5px 10px #848484, inset -5px -5px 10px #ffffff;
    /* box-shadow: inset 1px 1px 4px #5a5a5a, inset -7px -7px 9px #ffffff; */
    ;
}

.inner-shadow-sm:hover {
    box-shadow: inset 1px 1px 4px #5a5a5a, inset -7px -7px 9px #ffffff;
}

.text-outer-shadow {
    text-shadow: 1px 1px 5px white, -1px -1px 5px #444;
}